<ion-content>
  <div class="top">
    <img src="assets/logo.png" >
  </div>
  <!-- Social Login Buttons -->
  <div class="bottom">
    <div class="form" *ngIf="mode == 'main'">
      <div>
         <form [formGroup]="emailPasswordForm">
          <ion-list>
            <ion-item no-lines >
              <ion-input type="email" formControlName="email" placeholder="Email Address"></ion-input>
            </ion-item>
            <ion-item no-lines>
              <ion-input type="password" formControlName="password" placeholder="Create Password"></ion-input>
            </ion-item>
            <ion-button icon-left class="cprimary" tappable (click)="login()" [disabled]="!emailPasswordForm.valid">LOGIN</ion-button>
          </ion-list>
        </form>
        <ion-button  icon-left class="facebook"  tappable (click)="loginProvider.facebookLogin()"><ion-icon name="logo-facebook"></ion-icon>LOGIN WITH FACEBOOK</ion-button>
        <ion-button icon-left class="google"  tappable (click)="loginProvider.googleLogin()"><ion-icon name="logo-google"></ion-icon>LOGIN WITH GOOGLE</ion-button>
        <ion-button icon-left class="primary" tappable (click)="loginWithPhone()"><ion-icon name="md-call"></ion-icon>Signup with Phone</ion-button>
        <p tappable (click)="clearForms(); mode = 'register'">Don't Have an Account? <b>Sign up</b></p>
        <p tappable (click)="clearForms(); mode = 'forgotPassword'">Forgot your Password?</p>
      </div>
    </div>
    <!-- Sign Form -->
    <div class="form" *ngIf="mode == 'register'">
      <!--<button class="clear primary" ion-button icon-only tappable (click)="mode = 'main'"><ion-icon name="md-close"></ion-icon></button>-->
      <form [formGroup]="emailPasswordForm">
        <ion-list>
          <ion-item no-lines>
            <ion-input type="email" formControlName="email" placeholder="Email Address"></ion-input>
          </ion-item>
          <ion-item no-lines>
            <ion-input type="password" formControlName="password" placeholder="Your Password"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button icon-left class="primary" tappable (click)="register()" [disabled]="!emailPasswordForm.valid">SIGN UP</ion-button>
      </form>
      <ion-button class="dark"   tappable (click)="mode = 'main'"><ion-icon name="arrow-round-back"></ion-icon> Cancel</ion-button>
    </div>

    <!-- Forgot Password Form -->
    <div class="form" *ngIf="mode == 'forgotPassword'">
      <!--<button class="clear icon-right primary" ion-button icon-right icon-only tappable (click)="clearForms(); mode = 'main'"><ion-icon name="close"></ion-icon></button>-->
      <form [formGroup]="emailForm">
        <ion-list>
          <ion-item no-lines>
            <ion-input type="email" formControlName="email" placeholder="Your Email Address"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button icon-left class="primary" tappable (click)="forgotPassword()" [disabled]="!emailForm.valid">Reset Password</ion-button>
      </form>
      <ion-button class=" danger" icon-right  tappable (click)="clearForms(); mode = 'main'"><ion-icon name="close"></ion-icon> Cancel</ion-button>
    </div>
  </div>
</ion-content>
